.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  min-height: 100vh;
  padding: 20px;
}

.More-panel {
  border-radius: 0.5em;
  color: #E06C75;
  width: 20%;
  padding: 10px;
  border: 3px solid #E06C75;
  margin:10px;

}

.Wallet-caption-element {
  text-align: center;
  color: #E06C75;
}

.Platform-panel {
  border-radius: 0.5em;
  color: #E06C75;
  border: 3px solid #E06C75;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Gate-caption-element {
  text-align: center;
  color: #C678DD;
}


.Stex-caption-element {
  text-align: center;
  color: #98C379;
}
