.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  background-color: #282c34;
  min-height: 100vh;
}

.Gate-caption-element {
  /* border-radius: 0.5em; */
  text-align: center;
  color: #C678DD;
  border: 3px solid #C678DD;
  /* padding: 0.5em; */
}

.Stex-caption-element {
  /* border-radius: 0.5em; */
  text-align: center;
  color: #98C379;
  border: 3px solid #98C379;
  /* padding: 0.5em; */
}

.Wallet-caption-element {
  /* border-radius: 0.5em; */
  text-align: center;
  color: #e06c75;
  border: 3px solid #E06C75;
  /* padding: 0.5em; */
}